body {
  background: #0080ff;
  font-family: helvetica;
  text-align: center;

}

.whitebox {
  margin: 0 auto;
  width:80%;
  background: #ffffff;
  height:800px;
}

h1 {
  color: blue;
  font-size: 55px;
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
}

.fontsize {  
  font-size: 50px;
  line-height:70px;
  color: hotpink;
}


.btn {
  color: red;
  font-size: 24px;
  font-weight: bold;
  border: 3px solid red;
  width: 100px;
  text-align: right;
  vertical-align: middle;
  padding: 20px;
  display: inline-block;
  margin: 20px;
}
